$thumb-radius: 2rem;
$thumb-color: #333;
$thumb-color-hover: $thumb-color;
$bar-color: #d7dcdf;

label.range-slider {
    &__label {
        font-weight: bold;
        border-radius: 5px;
        background-color: #000;
        width: 2rem;
        height: 2rem;
        display: inline-block;
        text-align: center;
        line-height: 2rem;
        color: #fff;
        font-family: monospace;

        &--r {
            background-color: red;
        }
        &--g {
            background-color: green;
        }
        &--b {
            background-color: blue;
        }
    }
}

.range-slider {
    margin: 1.6rem 0 0 0%;
    width: 100%;

    &__range {
        -webkit-appearance: none;
        width: calc(100% - (110px));
        height: 10px;
        border-radius: 5px;
        background: $bar-color;
        outline: none;
        padding: 0;
        margin: 0;
    
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: $thumb-radius;
            height: $thumb-radius;
            border-radius: 50%;
            background: $thumb-color;
            cursor: pointer;
            transition: background .15s ease-in-out;

            &:hover {
                background: $thumb-color;
                background: $thumb-color-hover;
            }
            &:active {
                background: $thumb-color;
                background: $thumb-color-hover;
                
                &::-webkit-slider-thumb {
                    background: $thumb-color;
                    background: $thumb-color-hover;
                }
            }
        }
        
        &::-moz-range-thumb {
            width: 20px;
            height: 20px;
            border: 0;
            border-radius: 50%;
            background: #2c3e50;
            cursor: pointer;
            transition: background .15s ease-in-out;
            
            &:hover {
                background: $thumb-color;
                background: $thumb-color-hover;
            }
            
            &:active::-moz-range-thumb {
                background: $thumb-color;
                background: $thumb-color-hover;
            }
        }
        
        
    }

    &__value {
        display: inline-block;
        position: relative;
        width: 50px;
        color: #fff;
        line-height: 20px;
        text-align: center;
        border-radius: 3px;
        background: #333;
        padding: 5px 10px;
        margin-left: 8px;

        &:after {
            position: absolute;
            top: 8px;
            left: -7px;
            width: 0;
            height: 0;
            border-top: 7px solid transparent;
            border-right: 7px solid #333;
            border-bottom: 7px solid transparent;
            content: '';
        }
    }
}

::-moz-range-track {
    background: #d7dcdf;
    border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
    border: 0;
}

.rgbSliders {
    transition: all .4s;
    -webkit-transition: all .4s;
    /* Safari */
    visibility: visible;
    opacity: 1;
    overflow: hidden;
}